<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<div class="container">
		<main id="app" class="row">
			<section class="messages col-12">
				<ul id="messages" v-for="message in messages">
					<!-- render the message component here -->
					<newmessage :msg="message"></newmessage>
				</ul>
			</section>

			<section class="form-container col-12">
				<label for="nickname" class="sr-only">Your Nickname (optional)</label>
				<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">

				<form>
					<label for="message"  class="sr-only">Something to say?</label>
					<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Message..."></textarea>
					<input type="submit" @click.prevent="dispatchMessage">
				</form>
			</section>
		</main>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>
